{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cast Comparison</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="container my-5">
    <h2 class="mb-4">Compare Casts <i class="fas fa-film"></i></h2>

<form method="post" id="comparisonForm">
    {% csrf_token %}
    <div id="titleInputs">
        <div class="titleInputGroup mb-3">
            <div class="form-group">
                <label><i class="fas fa-video"></i> TV Show/Movie:</label>
                <input type="text" name="title[]" class="form-control titleInput" placeholder="Enter title...">
                <select name="category[]" class="form-control categoryInput mt-2">
                    <option value="movie">Movie</option>
                    <option value="tv">TV Show</option>
                </select>
                <div class="button-group">
                    <button type="button" class="btn btn-danger btn-sm mt-2 removeTitle">Remove</button>
                    <button type="button" class="btn btn-secondary btn-sm mt-2 addTitle">+</button>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Compare" class="btn btn-primary mt-3">
</form>

{% for title, top_billed_cast in combined %}
    <h3 class="mt-5">Top Cast for {{ title }}</h3>
    <ul>
    {% for actor_info in top_billed_cast %}
        <li>{{ actor_info.actor }} - {{ actor_info.character }}</li>
    {% endfor %}
    </ul>
{% endfor %}

{% if comparisons %}
<div id="common-cast" style="display: none;">
    {% load static %}
    {% for titles_combination, actors_info in comparisons.items %}
        <h4 class="mt-4">{{ titles_combination|join:", " }} have similar cast:</h4>
        <ul>
        {% for actor, roles in actors_info.items %}
            <li>
                {{ actor }} -
                {% for title, character in roles.items %}
                    {{ title }}: {{ character }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endif %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#common-cast').slideDown(1000);
    });

    function setupAutocomplete($titleInput, $categoryInput) {
        $titleInput.autocomplete({
            source: getAutocompleteSource($categoryInput.val())
        });

        $categoryInput.change(function() {
            $titleInput.autocomplete("option", "source", getAutocompleteSource($(this).val()));
        });
    }

    function getAutocompleteSource(category) {
        return function(request, response) {
            $.getJSON("/autocomplete/", {
                term: request.term,
                category: category
            }, response);
        };
    }

    $('.titleInput').each(function(index, titleInputElement) {
        const $titleInput = $(titleInputElement);
        const $categoryInput = $titleInput.closest('.titleInputGroup').find('.categoryInput');
        setupAutocomplete($titleInput, $categoryInput);
    });

$(document).on('click', '.addTitle', function() {
    let newInputGroup = $('.titleInputGroup').first().clone();
    newInputGroup.find('input').val('');
    $('#titleInputs').append(newInputGroup);
    setupButtonGroups();

    const $newTitleInput = newInputGroup.find('.titleInput');
    const $newCategoryInput = newInputGroup.find('.categoryInput');
    setupAutocomplete($newTitleInput, $newCategoryInput);
});

$(document).on('click', '.removeTitle', function() {
    if ($('.titleInputGroup').length > 1) {
        $(this).closest('.titleInputGroup').remove();
        setupButtonGroups();
    } else {
        alert("You must have at least one title input!");
    }
});

function setupButtonGroups() {
    $('.titleInputGroup').each(function() {
        const $buttonGroup = $(this).find('.button-group');
        const $removeButton = $(this).find('.removeTitle');

        $buttonGroup.empty();  //

        if ($(this).is(':last-child')) {
            const $addButton = $('<button type="button" class="btn btn-secondary btn-sm mt-2 addTitle">+</button>');
            $buttonGroup.append($removeButton, $addButton);
        } else {
            $buttonGroup.append($removeButton);
        }
    });
}

setupButtonGroups();
</script>
</body>
</html>




